body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-menu {
    background-color: rgb(250, 110, 220);
    height: 44px;
}
ul, ol, li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
li {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
}
li:hover {
    background-color: rgba(250, 133, 244, 1);
}
li a {
    text-decoration: none;
    color: #FFF;
}

